// background color
$bg-background-lightBlue: #f7f9fc;
$bg-white: #ffff;
$bg-grey: #5a5a5a;
$bg-pink: #dc4f72;
// color
$text-light: #ffffff;
$text-linear-white: #F7F9FC;
$text-dark: #2c3038;
$text-pink: #dc4f72;
$text-grey: #5a5a5a;
// font-size
$text-tiny: 6px;
$text-small: 13px;
$text-l: 16px;
$text-xl: 18px;
$text-2xl: 22px;
$text-24xl: 24px;
$text-27xl: 27px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-46xl: 46px;
$text-5xl: 50px;
$text-6xl: 60px;
// font-weight
$fw-3: 300;
$fw-4: 400;
$fw-6: 600;
$fw-7: 700;

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


@mixin a($fz, $color, $fw) {
    font-size: $fz;
    color: $color;
    font-weight: $fw;
}

@mixin bg-color-hover($bg-blog, $color-blog) {
    background-color: $bg-blog;
    color: $color-blog;
}

@mixin header {
    // background-color: #fff;
    // padding: 0px;
    // transition: all 0.4s ease 0s;
    // height: 90px;
    // display: grid;
    // align-items: center;
    // box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    padding: 0px;
    background-color: #fff;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.button-theme {
    color: $text-pink;
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 30px;
    text-transform: uppercase;
    border: 1px solid $text-pink;

    &:hover {
        @include bg-color-hover($bg-pink, $text-light)
    }
}

// Get started
@mixin img-hover {
    border-radius: $text-tiny;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: translateY(-10px);
        transition: 0.3s ease-in-out;
    }
}

@mixin content-start {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../../assets/img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

@mixin content-left {
    h3 {
        @include a($text-5xl, $text-dark, $fw-6);
        line-height: 57.5px;
    }

    p {
        @include a($text-xl, $text-grey, $fw-4);
        line-height: $text-3xl;
        max-width: 450px;
    }

    a {
        text-decoration: none;
        @extend .button-theme;
        border-radius: 3px;
    }
}

@mixin sub-title {
    padding: 20px 0 10px 0;

    h6 {
        @include a($text-xl, $text-pink, $fw-6);
        line-height: $text-2xl;
        text-transform: uppercase;
        margin-bottom: $text-tiny;
    }

    h3 {
        @include a($text-46xl, $text-dark, $fw-6);
        line-height: 1;
    }

    p {
        padding-top: 20px;
        @include a($text-l, $text-grey, $fw-4);
    }
}

// for you
@mixin s-block {
    border-radius: $text-tiny;
    transition: 0.3s ease-in;
    background: $text-linear-white;
    padding: 3rem 2rem;
    border: 1px solid $text-linear-white;

    &:hover {
        transition: 0.3s ease-in;
        background-color: #ffffff;
        border: 1px solid #eee;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
        ;
        transform: translateY(-0.5rem);
    }
}

// User for blog
@mixin grid-info {
    border-radius: $text-tiny;
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: $text-light;
    border: 1px solid #eee;
}

@mixin blog-item {
    h4 {
        a {
            font-size: $text-2xl;
            line-height: $text-27xl;
            color: $text-dark;
            display: block;
            font-weight: $fw-6;
        }
    }
}

@mixin blog-info-label {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


// End use blog

header {
    @media only screen and (max-width: 1440px) {
        .navbar-expand-lg .navbar-nav .nav-item {
            padding: 0 15px;
        }

        @media only screen and (max-width: 991px) {
            .navbar-nav {
                float: left;
                text-align: center;
                width: 100%;
                padding: 20px 0;
            }

            .navbar-toggler-icon.fa {
                @include a($text-3xl, $bg-pink, $fw-6);
                line-height: 34px;
                border-radius: 5px;
            }

            .navbar .nav-item .dropdown-menu {
                transform: translate(-1px) !important;
            }
        }
    }

    @include header;

    .navbar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar-brand {
            @include a($text-27xl, $text-pink, $fw-7);
            text-transform: capitalize;
            letter-spacing: -1px;
        }

        .navbar-toggler {
            padding: 0.25rem 0.75rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 0.25rem;
        }

        .nav-item {
            transition: all 0.5s ease;
            position: relative;

            .theme-button {
                color: $text-pink;
                transition: 0.3s ease-out;
                display: inline-block;
                line-height: 52px;
                font-weight: 700;
                font-size: 14px;
                padding: 0px 30px;
                text-transform: uppercase;
                border: 1px solid $text-pink;

                &:hover {
                    @include bg-color-hover($bg-pink, $text-light)
                }
            }

            .nav-link {
                &::before {
                    position: absolute;
                    content: '';
                    background: $text-pink;
                    width: 0px;
                    height: 2px;
                    bottom: 13px;
                    transition: all .5s;
                }

                &:hover {
                    &::before {
                        width: 20px;
                    }

                    color: $text-pink;
                }

                @include a($text-l, $text-dark, $fw-4);
                padding: 14px 0;
            }

            .dropdown-menu {
                transform: translate(-50px);

                &::before {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    display: block;
                    border-right: none;
                    border-bottom: none;
                    transform: translateX(-50%) rotateZ(45deg);
                    position: absolute;
                    top: -7px;
                    left: 49%;
                    z-index: 1001;
                }
            }
        }
    }
}

section.get-start {
    margin-top: 110px !important;

    .content {
        @include content-start;

        .content-left {
            @include content-left;
        }
    }
}

section.for-you {
    .header-section {
        max-width: 750px;
        @include sub-title;
    }

    .s-block {
        @include s-block;

        a {
            text-decoration: none;

            h3 {
                padding-top: $text-24xl;
                @include a($text-27xl, $text-dark, $fw-6);
                line-height: 35px;
            }

            p {
                margin-top: 15px;
                @include a($text-l, $text-grey, $fw-6);
            }
        }
    }
}

section.about-company {
    background-color: $text-linear-white;

    .book-info {
        @include sub-title;

        h6 {
            font-size: $text-l;
        }

        h3 {
            font-size: $text-3xl;
        }

        button {
            background-color: $bg-pink;
            padding: 15px 40px;
        }
    }

    img.img-curve {
        @include img-hover;
    }

    .gallery-inner {
        margin-top: 100px;

        .stats_info {
            background-color: #fff;
            padding: 2rem;
            border-radius: $text-tiny;
            box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
            transition: 0.3s ease;
            border: 1px solid #eee;

            h4 {
                font-size: $text-2xl;
                color: $text-dark;
            }

            p:first-of-type {
                font-size: $text-5xl;
                line-height: 1;
                color: $text-pink;
                font-weight: $fw-7;
                margin-bottom: $text-l;
                margin-top: 10px;
            }

            p:last-of-type {
                font-size: $text-l;
                color: $text-dark;
            }
        }
    }
}

section.link-list-menu {
    .new-block {
        background-size: cover;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../../assets/img/bg.jpg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center;
        background-attachment: fixed;
        min-height: 480px;
        display: grid;
        align-items: center;
        padding: 2rem 0;

        .content {
            max-width: 550px;

            h1 {
                @include a($text-3xl, $text-light, $fw-7);
                line-height: 36px;
            }

            p {
                color: $text-light
            }

            a {
                @extend .button-theme;
                text-decoration: none;
                border: none;
                background-color: $bg-white;
                color: $text-dark;
                border-radius: $text-tiny;

                &:hover {
                    background-color: #e2e6ea;
                    border-color: #dae0e5;
                    color: $text-dark;
                }
            }
        }
    }
}

section.news {
    .header-section {
        @include sub-title;
    }

    .grid-view {
        .grid-info {
            border-radius: $text-tiny;
            transition: 0.3s ease-in;
            background: #fff;
            border: 1px solid #eee;

            a {
                @include a($text-l, $text-dark, $fw-7);
                overflow: hidden;
                position: relative;
                text-decoration: none;
                border-top-left-radius: $text-tiny;
                border-top-right-radius: $text-tiny;

                img {
                    border-radius: $text-tiny $text-tiny 0px 0px !important;
                    filter: grayscale(1);
                    transition: all 0.5s;
                }

                p {
                    @include a($text-xl, $text-light, $fw-7);
                    background-color: $bg-pink;
                    line-height: 24.5px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0px;
                    padding: 15px;

                }
            }

            .blog-info {
                background: #fff;
                padding: 30px 20px;
                border-bottom-left-radius: $text-tiny;
                border-bottom-right-radius: $text-tiny;

                .tag-label {
                    @include a($text-small, $text-dark, $fw-6);
                    padding: 5px 16px;
                    display: inline-block;
                    border-radius: $text-24xl;
                    margin-bottom: $text-l;
                }

                .red {
                    background: rgba(238, 97, 120, 0.2);
                    color: $text-pink;
                }

                .green {
                    background: rgba(0, 128, 0, 0.2);
                    color: #008000;
                }

                .blue {
                    background: rgba(0, 0, 255, 0.2);
                    color: #0000ff;
                }

                h4 {
                    a {
                        @include a($text-2xl, $text-dark, $fw-6);
                        line-height: $text-27xl;
                    }
                }

                p {
                    @include a($text-l, $text-dark, $fw-4);
                    line-height: 24.5px;
                    color: $text-grey;
                    margin-top: $text-l;
                    border-bottom: 1px solid #eee;
                    padding-bottom: $text-2xl;
                    margin-bottom: $text-2xl;
                }

                a {
                    @include a($text-l, $text-pink, $fw-6);
                    border-radius: 0;
                    padding: 10px 10px;
                    position: relative;
                    display: inline-block;
                    transition: 0.3s ease-in-out;
                    border: 0px !important;
                }

            }

            &:hover {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
                transform: translateY(-10px);

                img {
                    filter: grayscale(0);
                }

                .blog-info {
                    h4 {
                        a {
                            color: $text-pink;
                        }
                    }

                    a.btn-news {
                        svg {
                            transform: translateX(10px);
                            transition: 0.3s ease-in;
                        }
                    }
                }

            }
        }
    }
}